{# modules/hedera-tag-page/views/index.html #}
{%- extends "layout.html" -%}

{%- import 'hedera-default-page:page-layout-fragment.html' as pageLayout -%}
{%- import 'hedera-tag-page:tag-utils-fragment.html' as tagUtils with context -%}
{%- import 'hedera-article-page:pager-fragment.html' as articlePager with context -%}

<!-- Use tag masthead, if defined, otherwise fall back to default
     global masthead -->
{%- if apos.attachment.first(data.piece._mastheadImage) -%}
  {%- set imageObjectMasthead = apos.attachment.first(data.piece._mastheadImage) -%}
{%- elseif apos.attachment.first(data.global._defaultTagMastheadImage) -%}
  {%- set imageObjectMasthead = apos.attachment.first(data.global._defaultTagMastheadImage) -%}
{%- endif -%}

{% block main %}
<main class="main-page-content">
    {%- render pageLayout.masthead(imageObjectMasthead, data.page.title) -%}

    <section class="section section-page-body">
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-8 offset-md-2">
                    <ul class="tag-list">
                        {%- render tagUtils.listTags(data.pieces) -%}
                    </ul>
                </div>
            </div>
        </div>
    </section>

    {%- render articlePager.pager({page: data.currentPage, total: data.totalPages}, data.url) -%}
</main>
{% endblock %}
