{# modules/hedera-tag-page/views/show.html #}
{%- extends "layout.html" -%}

{%- import 'hedera-default-page:page-layout-fragment.html' as pageLayout -%}
{%- import 'hedera-article-page:article-utils-fragment.html' as articleUtils with context -%}
{%- import 'hedera-article-page:pager-fragment.html' as articlePager with context -%}

<!-- Use tag masthead, if defined, otherwise fall back to default
     global masthead -->
{%- if apos.attachment.first(data.piece._mastheadImage) -%}
  {%- set imageObjectMasthead = apos.attachment.first(data.piece._mastheadImage) -%}
{%- elseif apos.attachment.first(data.global._defaultTagMastheadImage) -%}
  {%- set imageObjectMasthead = apos.attachment.first(data.global._defaultTagMastheadImage) -%}
{%- endif -%}

{% block main %}
<main class="main-page-content">
    {%- render pageLayout.masthead(imageObjectMasthead, data.piece.title) -%}

    <section class="section section-page-body">
        <div class="container">
            <div class="tag-display__description row">
                <div class="col-12 col-md-8 offset-md-2">
                    {%- if data.piece.body -%}
                        {% area data.piece, 'body' %}
                    {%- endif -%}
                </div>
            </div>

            <div class="tag-display__row row">
                <div class="tag-display__articles col-12 col-md-8 offset-md-2">
                    <div class="tag-display__article-listing pt-4">
                        {%- if data.piece._articles and data.piece._articles.length -%}
                        <h2 class="tag-display__article-listing-title">Articles tagged <em>{{ data.piece.title }}</em></h2>
                        {%- else -%}
                        <p class="tag-display__article-listing-title">No articles</p>
                        {%- endif -%}

                        {%- render articleUtils.listArticles(data.piece._articles) -%}
                    </div>
                </div>
            </div>
        </div>
    </section>

    {%- render articlePager.pager({page: data.currentPage, total: data.totalPages}, data.url) -%}
</main>
{% endblock %}
