{%- import 'bootstrap-card-link-widget:card-link-layout-fragment.html' as cardLinkLayout -%}

{%- set contentType = '' -%}
{%- set contentPath = '' -%}
{%- set contentTitle = '' -%}

{%- if data.widget.linkType === 'page' and data.widget._page and data.widget._page[0] -%}
  {%- set contentType = 'page' -%}
  {%- set contentPath = data.widget._page[0]._url -%}
  {%- set contentTitle = data.widget._page[0].title -%}
{%- elif data.widget.linkType === 'article' and data.widget._article and data.widget._article[0] -%}
  {%- set contentPath = data.widget._article[0]._url -%}
  {%- set contentTitle = data.widget._article[0].title -%}
  {%- set contentSubTitle = data.widget._article[0].subTitle -%}
  {%- set contentPublishedAt = data.widget._article[0].publishedAt -%}
  {%- if data.widget._article[0].featuredImageIds[0] -%}
    {%- set contentImageObject = apos.attachment.first(data.widget._article[0]._featuredImage) -%}
  {%- elseif data.widget._article[0].mastheadImageIds[0] -%}
    {%- set contentImageObject = apos.attachment.first(data.widget._article[0]._mastheadImage) -%}
  {%- elseif apos.attachment.first(data.global._defaultArticleFeatureImage) -%}
    {%- set contentImageObject = apos.attachment.first(data.global._defaultArticleFeatureImage) -%}
  {%- endif -%}
  {%- set contentType = 'article' -%}
  {%- set contentPath = data.widget._article[0]._url -%}
  {%- set contentTitle = data.widget._article[0].title -%}
{%- elif data.widget.linkType === 'author' and data.widget._author and data.widget._author[0] -%}
  {%- set contentPath = data.widget._author[0]._url -%}
  {%- set contentTitle = data.widget._author[0].title -%}
  {%- set contentSubTitle = data.widget._author[0].jobTitle -%}
  {%- if apos.attachment.first(data.widget._author[0].profileImage) -%}
    {%- set contentImageObject = apos.attachment.first(data.widget._author[0].profileImage) -%}
  {%- elseif data.widget._author[0].mastheadImageIds[0] -%}
    {%- set contentImageObject = apos.attachment.first(data.widget._author[0]._mastheadImage) -%}
  {%- elseif apos.attachment.first(data.global._defaultAuthorFeatureImage) -%}
    {%- set contentImageObject = apos.attachment.first(data.global._defaultAuthorFeatureImage) -%}
  {%- endif -%}
  {%- set contentType = 'author' -%}
  {%- set contentPath = data.widget._author[0]._url -%}
  {%- set contentTitle = data.widget._author[0].title -%}
{%- elif data.widget.linkType === 'topic' and data.widget._topic and data.widget._topic[0] -%}
    {%- set contentPath = data.widget._topic[0]._url -%}
    {%- set contentTitle = data.widget._topic[0].title -%}
    {%- set contentSubTitle = data.widget._topic[0].subTitle -%}
    {%- set contentPublishedAt = data.widget._topic[0].publishedAt -%}
    {%- if data.widget._topic[0].featuredImageIds[0] -%}
      {%- set contentImageObject = apos.attachment.first(data.widget._topic[0]._featuredImage) -%}
    {%- elseif data.widget._topic[0].mastheadImageIds[0] -%}
      {%- set contentImageObject = apos.attachment.first(data.widget._topic[0]._mastheadImage) -%}
    {%- elseif apos.attachment.first(data.global._defaultTopicFeatureImage) -%}
      {%- set contentImageObject = apos.attachment.first(data.global._defaultTopicFeatureImage) -%}
    {%- endif -%}
    {%- set contentType = 'topic' -%}
    {%- set contentPath = data.widget._topic[0]._url -%}
    {%- set contentTitle = data.widget._topic[0].title -%}
{%- elif data.widget.linkType === 'tag' and data.widget._tag and data.widget._tag[0] -%}
    {%- set contentPath = data.widget._tag[0]._url -%}
    {%- set contentTitle = data.widget._tag[0].title -%}
    {%- set contentSubTitle = data.widget._tag[0].subTitle -%}
    {%- set contentPublishedAt = data.widget._tag[0].publishedAt -%}
    {%- if data.widget._tag[0].featuredImageIds[0] -%}
      {%- set contentImageObject = apos.attachment.first(data.widget._tag[0]._featuredImage) -%}
    {%- elseif data.widget._tag[0].mastheadImageIds[0] -%}
      {%- set contentImageObject = apos.attachment.first(data.widget._tag[0]._mastheadImage) -%}
    {%- elseif apos.attachment.first(data.global._defaultTagFeatureImage) -%}
      {%- set contentImageObject = apos.attachment.first(data.global._defaultTagFeatureImage) -%}
    {%- endif -%}
    {%- set contentType = 'tag' -%}
    {%- set contentPath = data.widget._tag[0]._url -%}
    {%- set contentTitle = data.widget._tag[0].title -%}
{%- elif data.widget.linkType === 'modal' and data.widget._modal and data.widget._modal[0] -%}
    {%- set contentType = 'modal' -%}
    {%- set contentPath = "#" -%}
    {%- set contentTitle = data.widget._modal[0].title -%}
    {%- set aposDocId = data.widget._modal[0].aposDocId -%}
    {%- set dataBsToggle = 'modal' -%}
    {%- set targetElementId = data.widget._modal[0].slug -%}
    {%- set onClickEvent = 'insertModalContentIntoDOM' -%}
{%- elif data.widget.linkType === 'file' and data.widget._file and data.widget._file[0] -%}
    {%- set contentType = 'file' -%}
    {%- set fileObject = apos.attachment.first(data.widget._file) -%}
    {%- set contentPath = apos.attachment.url(fileObject) -%}
    {%- set linkTitle = data.widget._file[0].title -%}
{%- elif data.widget.linkType === 'image' and data.widget._image and data.widget._image[0] -%}
    {%- set contentType = 'image' -%}
    {%- set imageObject = apos.attachment.first(data.widget._image) -%}
    {%- set contentPath = apos.attachment.url(imageObject) -%}
    {%- set linkTitle = data.widget._image[0].title -%}
{%- elif data.widget.linkType === 'custom' -%}
    {%- set contentType = 'custom' -%}
    {%- set contentPath = data.widget.customUrl -%}
{%- endif -%}

{%- set cardType = 'horizontal' -%}

{%- if data.widget.horizontalAlignment == 'centre' -%}
  {%- set horizontalAlignmentClass = "c-teaser-link-card--align-text-centre" -%}
{%- elseif data.widget.horizontalAlignment == 'right' -%}
  {%- set horizontalAlignmentClass = "c-teaser-link-card--align-text-right" -%}
{%- elseif data.widget.horizontalAlignment == 'left' -%}
  {%- set horizontalAlignmentClass = "c-teaser-link-card--align-text-left" -%}
{%- else -%}
  {%- set horizontalAlignmentClass = "" -%}
{%- endif -%}

{%- if data.widget.verticalAlignment == 'top' -%}
    {%- set rowAlignmentClass = "c-teaser-link-card__row--align-top" -%}
{%- elseif data.widget.verticalAlignment == 'centre' -%}
    {%- set rowAlignmentClass = "c-teaser-link-card__row--align-centre" -%}
{%- elseif data.widget.verticalAlignment == 'bottom' -%}
    {%- set rowAlignmentClass = "c-teaser-link-card__row--align-bottom" -%}
{%- elseif data.widget.verticalAlignment == 'baseline' -%}
    {%- set rowAlignmentClass = "c-teaser-link-card__row--align-baseline" -%}
{%- elseif data.widget.verticalAlignment == 'stretch' -%}
    {%- set rowAlignmentClass = "c-teaser-link-card__row--align-stretch" -%}
{%- else -%}
  {%- set rowAlignmentClass = "" -%}
{%- endif -%}

{%- if data.widget.horizontalCardImagePlacement == 'left' -%}
  {%- set horizontalCardImagePlacement = "left" -%}
{%- elseif data.widget.horizontalCardImagePlacement == 'right' -%}
  {%- set horizontalCardImagePlacement = "right" -%}
{%- else -%}
  {%- set horizontalCardImagePlacement = "left" -%}
{%- endif -%}

{%- if data.widget.horizontalCardColumnSplit == '16-84' -%}
  {%- set imageColumnClass = "c-teaser-link-card--horizontal__image-column--16-84-split" -%}
  {%- set contentColumnClass = "c-teaser-link-card--horizontal__copy-column--16-84-split" -%}
{%- elif data.widget.horizontalCardColumnSplit == '25-75' -%}
  {%- set imageColumnClass = "c-teaser-link-card--horizontal__image-column--25-75-split" -%}
  {%- set contentColumnClass = "c-teaser-link-card--horizontal__copy-column--25-75-split" -%}
{%- elif data.widget.horizontalCardColumnSplit == '33-67' -%}
  {%- set imageColumnClass = "c-teaser-link-card--horizontal__image-column--33-67-split" -%}
  {%- set contentColumnClass = "c-teaser-link-card--horizontal__copy-column--33-67-split" -%}
{%- elif data.widget.horizontalCardColumnSplit == '50-50' -%}
  {%- set imageColumnClass = "c-teaser-link-card--horizontal__image-column--50-50-split" -%}
  {%- set contentColumnClass = "c-teaser-link-card--horizontal__copy-column--50-50-split" -%}
{%- elif data.widget.horizontalCardColumnSplit == '100-0' -%}
  {%- set imageColumnClass = "c-teaser-link-card--horizontal__image-column--100-0-split" -%}
  {%- set contentColumnClass = "c-teaser-link-card--horizontal__copy-column--100-0-split" -%}
{%- else -%}
  {%- set imageColumnClass = "c-teaser-link-card--horizontal__image-column--50-50-split" -%}
  {%- set contentColumnClass = "c-teaser-link-card--horizontal__copy-column--50-50-split" -%}
{%- endif -%}

{%- if data.widget.cardBorderColour -%}
  {%- set cardBorderClass = 'c-teaser-link-card--solid-border-1' -%}
  {%- set cardBorderStyle = 'border-color:' + data.widget.cardBorderColour + '; ' -%}
{%- endif -%}

{%- set imageClass = "c-teaser-link-card--horizontal__image c-teaser-link-card--horizontal__image--image-on-" + horizontalCardImagePlacement -%}

{%- if data.widget.drawImageBorders -%}
  {%- set imageBorderClass = "c-teaser-link-card__image--with-border" -%}
  {%- set imageClass = imageClass + " " + imageBorderClass -%}
  {%- set imageBorderColour = data.widget.cardBorderColour -%}
  {%- set imageForegroundColour = (imageBorderColour | truncate(7, true, "")) -%}
  {%- set imageBorderStyle = '' + (
    'color:' + imageForegroundColour + ';' if imageForegroundColour
    ) + (
    'border-color:' + imageBorderColour + ';' if imageBorderColour
  ) -%}
{%- endif -%}

{%- set textColourStyle = 'color:var(--body-colour);' -%}
{%- if data.widget.textColour -%}
  {%- set textColourStyle = 'color:' + data.widget.textColour + '; ' -%}
{%- endif -%}

{%- if data.widget.backgroundColour -%}
  {%- set cardBackgroundColourStyle = 'background:' + data.widget.backgroundColour + ';' -%}
{%- endif -%}

{%- if data.widget.headerBackgroundColour -%}
  {%- set cardHeaderBackgroundColourStyle = 'background:' + data.widget.headerBackgroundColour + ';' -%}
{%- endif -%}

{%- if data.widget.headerTextColour -%}
  {%- set headerTextColourStyle = 'color:' + data.widget.headerTextColour + '; ' -%}
{%- endif -%}

<div class="c-teaser-link-card c-teaser-link-card--horizontal {{ horizontalAlignmentClass }} {{ cardBorderClass }}"
    data-teaser-link-widget
    {% if cardBorderStyle or cardBackgroundColourStyle %}style="{{ cardBorderStyle }} {{ cardBackgroundColourStyle }}"{% endif %}>
    <a class="c-teaser-link-card__wrapping-link c-teaser-link-card--horizontal__wrapping-link"
        href="{{ contentPath }}"
        alt="{{ contentTitle }}">
        <div class="c-teaser-link-card__row c-teaser-link-card--horizontal__row {{ rowAlignmentClass }}">
            {%- if horizontalCardImagePlacement == 'left' -%}
            <div class="c-teaser-link-card--horizontal__image-column c-teaser-link-card--horizontal__image-column--on-left {% if imageColumnClass %}{{ imageColumnClass }}{% endif %}">
                <div class="c-teaser-link-card--horizontal__image-wrapper c-teaser-link-card--horizontal__image-wrapper--image-on-left"
                    {% if imageBorderStyle %}style="{{ imageBorderStyle }}"{% endif %}>
                    {%- if contentType in ['page', 'article', 'author', 'topic', 'tag', 'modal', 'file', 'image', 'custom'] -%}
                        {% area data.widget, 'horizontalImageLeft' with { 'hedera-image': { className: imageClass } } %}
                    {%- else -%}
                    <img class="{{ imageClass }}"
                        srcset="{{ apos.image.srcset(contentImageObject) }}"
                        src="{{ apos.attachment.url(contentImageObject) }}"
                        {% if imagePlaceholderColour %}style="background-color:{{ imagePlaceholderColour }};"{% endif %}
                        alt="{{ contentImageObject._alt }}" />
                    {%- endif -%}
                </div>
            </div>
            {%- endif -%}

            <div class="c-teaser-link-card__copy-column c-teaser-link-card--horizontal__copy-column {% if contentColumnClass %}{{ contentColumnClass }}{% endif %}">
                <div class="c-teaser-link-card--horizontal__card-body"
                    {% if cardBackgroundStyle or textColourStyle %}style="{{ cardBackgroundStyle }} {{ textColourStyle }}"{% endif %}>
                    <h4 class="c-teaser-link-card__title c-teaser-link-card--horizontal__title">
                        {{ contentTitle }}
                        <div class="c-teaser-link-card__link-arrow c-teaser-link-card--horizontal__link-arrow">
                            <svg
                                xmlns="http://www.w3.org/2000/svg"
                                viewBox="0 0 8 17.5">
                                <path
                                    d="M.72 2.03A.75.75 0 0 1 1.78.97l5.5 5.5c.3.3.3.77 0 1.06l-5.5 5.5a.75.75 0 0 1-1.06-1.06L5.69 7 .72 2.03Z"/>
                            </svg>
                        </div>
                    </h4>
                    {%- if contentSubTitle -%}
                    <h3 class="c-teaser-link-card__subtitle c-teaser-link-card--horizontal__subtitle">
                        {{ contentSubTitle }}
                    </h3>
                    {%- endif -%}
                    {%- if contentPublishedAt -%}
                    <div class="c-teaser-link-card__published-date c-teaser-link-card--horizontal__published-date">
                        {{ contentPublishedAt | date("D MMMM YYYY") }}
                    </div>
                    {%- endif -%}
                    <div class="c-teaser-link-card__manual-content c-teaser-link-card--horizontal__manual-content">
                    {% area data.widget, 'body' %}
                    </div>
                </div>
            </div>

            {%- if horizontalCardImagePlacement == 'right' -%}
            <div class="c-teaser-link-card--horizontal__image-column c-teaser-link-card--horizontal__image-column--on-right {% if imageColumnClass %}{{ imageColumnClass }}{% endif %}">
                <div class="c-teaser-link-card--horizontal__image-wrapper c-teaser-link-card--horizontal__image-wrapper--image-on-right">
                    {%- if contentType == 'page' -%}
                        {% area data.widget, 'horizontalImageRight' with { 'hedera-image': { className: imageClass } } %}
                    {%- else -%}
                    <img class="{{ imageClass }}"
                        srcset="{{ apos.image.srcset(contentImageObject) }}"
                        src="{{ apos.attachment.url(contentImageObject) }}"
                        {% if imagePlaceholderColour %}style="background-color:{{ imagePlaceholderColour }};"{% endif %}
                        alt="{{ contentImageObject._alt }}" />
                    {%- endif -%}
                </div>
            </div>
            {%- endif -%}
        </div>
    </a>
</div>
