{# modules/article-page/views/index.html #}
{%- extends "layout.html" -%}

{%- import "filters.html" as filters -%}
{%- import 'hedera-default-page:page-layout-fragment.html' as pageLayout -%}
{%- import 'hedera-article-page:article-utils-fragment.html' as articleUtils with context -%}
{%- import 'hedera-article-page:pager-fragment.html' as articlePager with context -%}

<!-- Use article masthead, if defined, otherwise fall back to default global masthead -->
{%- if apos.attachment.first(data.page._pageMastheadImage) -%}
    {%- set imageObjectMasthead = apos.attachment.first(data.page._pageMastheadImage) -%}
{%- elseif data.page._pageSection[0] and data.page._pageSection[0].applyMastheadImageToAllPagesInSection == true and data.page._pageSection[0]._sectionMastheadImage[0] -%}
    {%- set imageObjectMasthead = apos.attachment.first(data.page._pageSection[0]._sectionMastheadImage) -%}
{%- elseif apos.attachment.first(data.global._defaultPageMastheadImage) -%}
    {%- set imageObjectMasthead = apos.attachment.first(data.global._defaultPageMastheadImage) -%}
{%- endif -%}

{% block main %}
<main class="main-page-content">
    {%- render pageLayout.masthead(imageObjectMasthead, data.page.title) -%}

    <section class="article-filter-section section container">
        <div class="article-filter__row row">
            <div class="article-filter__col article-filter__col--by-tag col-12 col-md-6 col-xl-4 offset-xl-2">
                {%- if data.piecesFilters.tags -%}
                <form
                    class="article-filter__form"
                    method="get" action="{{ data.page._url }}">
                    <div class="form-floating">
                        <select
                            name="tags"
                            id="floatingTagSelect"
                            class="article-filter__select article-filter__select--tag form-select"
                            aria-label="Filter articles by category"
                            onchange="this.form.submit();">
                            <option value="">All categories</option>
                            {%- for choice in data.piecesFilters.tags -%}
                            <option value="{{ choice.value }}" {% if choice.value == data.query.tags %}selected{% endif %}>
                                {{ choice.label }}
                            </option>
                            {%- endfor -%}
                        </select>
                        <label
                            class="article-filter__label article-filter__label--tag"
                            for="floatingTagSelect">Filter articles by tag</label>
                    </div>
                </form>
                {%- endif -%}
            </div>

            <div class="article-filter__col article-filter__col--by-tag col-12 col-md-6 col-xl-4">
                {%- if data.piecesFilters.topics -%}
                <form
                    class="article-filter__form"
                    method="get" action="{{ data.page._url }}">
                    <div class="form-floating">
                        <select
                            name="topics"
                            id="floatingTopicSelect"
                            class="article-filter__select article-filter__select--topic form-select"
                            aria-label="Filter articles by topic"
                            onchange="this.form.submit();">
                            <option value="">All topics</option>
                            {%- for choice in data.piecesFilters.topics -%}
                            <option value="{{ choice.value }}" {% if choice.value == data.query.topics %}selected{% endif %}>
                                {{ choice.label }}
                            </option>
                            {%- endfor -%}
                        </select>
                        <label
                            class="article-filter__label article-filter__label--topic"
                            for="floatingTopicSelect">Filter articles by topic</label>
                    </div>
                </form>
                {%- endif -%}
            </div>
        </div>
    </section>

    <section
        class="section section-page-listing article-listing-page container"
    >
        <div class="col-12 col-xl-8 offset-xl-2">
        {%- render articleUtils.listArticles(data.pieces) -%}
        </div>
    </section>

    {%- render articlePager.pager({page: data.currentPage, total: data.totalPages}, data.url) -%}

</main>
{% endblock %}
