{% extends "layout.html" %}

{%- import 'default-page:page-layout-fragment.html' as pageLayout -%}

{% block title %}{{ data.page.title }}{% endblock %}

{% block main %}
<main class="main-page-content--full-bleed">
    <section class="section-page-body--full-bleed">
        {%- if data.page.backgroundMedia -%}
          {% area data.page, 'backgroundMedia' %}
        {%- endif -%}
        <div class="full-bleed-page__container">
            {%- render pageLayout.masthead('', data.page.title, true, true) -%}
            <div class="container full-bleed-page__copy-container">
                <div class="row">
                    <div class="col-12">

                        <form data-apos-search-page-form method="GET" action="{{ data.url | e }}#main">
                            {% if data.filters %}
                            <div class="ld-meta">{{ __t('apostrophe:filterResultsByType') }}</div>
                            <ul>
                                {% for filter in data.filters %}
                                <li>
                                    <input data-apos-search-filter type="checkbox" name="{{ filter.name | e }}"
                                           {% if filter.value %}checked{% endif %}
                                           value="1"
                                    />{{ filter.label | e }}
                                </li>
                                {% endfor %}
                            </ul>
                            {% endif %}
                            <div class="input-group mb-3">
                                <input type="search"
                                       class="form-control"
                                       data-apos-search-field
                                       aria-label="Search query"
                                       aria-describedby="search-button"
                                       placeholder="New search"
                                       value="{{ data.query.q | e }}" name="q" />
                                <button class="btn btn-outline-secondary btn-dark"
                                        type="submit"
                                        id="search-button">Search</button>
                        </form>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <ul class="list-group list-group-flush mb-5">
  {%- for doc in data.docs -%}
    {%- if doc._url and
           doc.visibility == 'public' and
           doc.excludeFromSearch !== true and
           doc.type !== 'reusable-content' and
           doc.type !== 'notifications' and
           doc.type !== 'website-section' and
           doc.type !== 'notifications-page' and
           doc.type !== 'custom-search-page' and
           doc.type !== 'modal-content' and
           doc.type !== '@apostrophecms/file' -%}
                            <li class="list-group-item">
                                <a href="{{ doc._url }}">{{ doc.title | capitalize }}</a> {% if doc.type == 'tag' or doc.type == 'article' or doc.type == 'topic' or doc.type == 'author' -%} <span class="text--small-caps"> | {{ doc.type | capitalize }}</span> {%- endif -%}</li>
    {%- endif -%}
  {% endfor %}
                        </ul>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">

                        {%- if data.totalPages > 1 -%}
                        <nav aria-label="Search results page navigation"
                             class="index-pager">
                            <ul class="pagination index-pager__pagination">
                                <li class="page-item pagination__page-item {% if data.currentPage == 1 %}disabled{%- endif -%}">
                                    <a class="page-link pagination__page-link pagination__page-link--previous"
                                       href="{% if data.currentPage > 1 %}/tags?page={%- set i = (data.currentPage -1) -%}{{ i }}{%- endif -%}"
                                       aria-label="Previous">
                                        <i class="ti-angle-left ml-1 mr-3"></i> 
                                    </a>
                                </li>
                                {%- for i in range(1,(data.totalPages+1)) -%}
                                <li class="page-item pagination__page-item {% if i==data.currentPage %}active{%- endif -%}"><a class="page-link" href="/search?page={{ i }}">{{ i }}</a></li>
                                {%- endfor -%}
                                <li class="page-item pagination__page-item {% if data.currentPage == data.totalPages -%}disabled{%- endif -%}">
                                    <a class="page-link pagination__page-link pagination__page-link--next"
                                       href="{% if data.currentPage < data.totalPages -%}/search?page={%- set i = (data.currentPage + 1) -%}{{ i }}{%- endif -%}"
                                       aria-label="Next">
                                        <i class="ti-angle-right ml-3 mr-1"></i>
                                    </a>
                                </li>
                            </ul>
                        </nav>
                        {%- endif -%}
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
{% endblock %}
