{% fragment masthead(imageObjectMasthead, mastheadTitle, skipStyleMastheadBackground, contrastingTitle) %}
  {%- if data.global.defaultPlaceholderColour -%}
    {%- set imagePlaceholderColour = data.global.defaultPlaceholderColour -%}
  {%- endif -%}

  {%- import 'hedera-image-widget:image-layout-fragment.html' as imageLayoutFragment -%}

<section class="page-banner"
           {% if skipStyleMastheadBackground and imagePlaceholderColour %}{% else %}style="background-color:{{ imagePlaceholderColour }};"{% endif %}>
  {%- if imageObjectMasthead -%}
    {%- set pageBannerTitleClass = 'page-banner__title' -%}
  <div class="page-banner__masthead-container">
      {%- render imageLayoutFragment.image(imageObjectMasthead, 'sizes', 'page-banner__masthead-image img-fluid rounded-start', '', 'auto', 'auto') -%}
  </div>
  {%- elseif contrastingTitle -%}
    {%- set pageBannerTitleClass = 'page-banner__title' -%}
  {%- endif -%}

  <div class="page-banner__heading-container container">
      <div class="page-banner__heading-row row justify-content-center">
          <div class="page-banner__heading-column col-lg-9 col-md-12 col-12 ">
              <div class="page-banner__heading-backdrop text-center">
                  <h1 class='page-banner__heading {% if pageBannerTitleClass %}{{ pageBannerTitleClass }}{% endif %} display-4 font-weight-bold mb-2'>{{ mastheadTitle }}</h1>
              </div>
          </div>
      </div>
  </div>
</section>
{% endfragment %}
