{# modules/author-page/views/show.html #}
{%- extends "layout.html" -%}

{%- import 'hedera-default-page:page-layout-fragment.html' as pageLayout -%}
{%- import 'hedera-article-page:article-utils-fragment.html' as articleUtils with context -%}
{%- import 'hedera-article-page:pager-fragment.html' as articlePager with context -%}

<!-- Use author masthead, if defined, otherwise fall back to default
     global masthead -->
{%- if apos.attachment.first(data.piece._mastheadImage) -%}
  {%- set imageObjectMasthead = apos.attachment.first(data.piece._mastheadImage) -%}
{%- elseif apos.attachment.first(data.global._defaultAuthorMastheadImage) -%}
  {%- set imageObjectMasthead = apos.attachment.first(data.global._defaultAuthorMastheadImage) -%}
{%- endif -%}

{%- block standardHead -%}
    <meta name="author" content="{{ data.piece.title }}" />
    <meta name="profile:first_name" content="{{ data.piece.firstName }}" />
    <meta name="profile:last_name" content="{{ data.piece.lastName }}" />
    <meta name="article:author" content="{{ data.piece._url }}" />
    <meta property="og:url" content="{{ data.piece._url }}" />
    <meta property="og:type" content="{{ data.piece.openGraphType }}" />
{%- endblock -%}

{% block main %}
<main class="main-page-content">
    {%- render pageLayout.masthead(imageObjectMasthead, data.piece.title) -%}

    <section class="main-content-section">
        <div class="container">
            <div class="author-display__row row">
                <div class="author-display__profile-and-articles col-12 col-lg-8 order-2 order-lg-1 violet-border">
                    <div class="author-display__article-listing violet-border pt-4">
                        <h4 class="author-display__article-listing-title">Articles by {{ data.piece.title }}</h4>

                        {%- render articleUtils.listArticles(data.piece._articles) -%}
                    </div>

                    {%- render articlePager.pager({page: data.currentPage, total: data.totalPages}, data.url) -%}
                </div>

                {%- if data.piece.body.items[0] -%}
                <div class="author-display__profile col-12 col-lg-4 order-1 order-lg-2">
                    <div class="author-display__profile-image">
                        {%- if apos.attachment.first(data.piece.profileImage) -%}
                          {% area data.piece, 'profileImage' %}
                        {%- elseif data.global.defaultAuthorProfileImage -%}
                          {% area data.global, 'defaultAuthorProfileImage' %}
                        {%- endif -%}
                    </div>

                    <div class="author-display__profile-content">
                        <h2 class="author-display__title">{{ data.piece.title }}</h2>

                        {%- if data.piece.jobTitle -%}
                        <h3 class="author-display__job-title">{{ data.piece.jobTitle }}</h3>
                        {%- endif -%}

                        {% area data.piece, 'body' %}
                    </div>
                </div>
                {%- endif -%}
            </div>
        </div>
    </section>
</main>
{% endblock %}
