{%- fragment listTopics(topics, defaultTopicFeatureImage) -%}

{%- for topic in topics -%}
<article class="topic-item">
    <a href="{{ topic._url }}" class="topic-item__link" alt="{{ topic.title }}">
        <div class="topic-item__card">
            <div class="topic-item__card-row">
                <div class="topic-item__heading-column">
                    <h2 class="topic-item__heading">
                        {{ topic.title }}
                    </h2>
                </div>

                <div class="topic-item__body-column">
                    {%- if topic.searchSummary -%}
                    <div class="topic-item__card-body">
                        {%- set excerpt = topic.searchSummary | truncate(300, true, '...') -%}
                        {%- if excerpt -%}
                        <p class="topic-item__description">
                            {{ excerpt }}
                        </p>
                        {%- endif -%}
                    </div>
                    {%- endif -%}
                </div>
            </div>
        </div>
    </a>
</article>
{%- endfor -%}
{% endfragment %}
