{# modules/hedera-tag-page/views/show.html #}
{%- extends "layout.html" -%}

{%- import 'hedera-default-page:page-layout-fragment.html' as pageLayout -%}
{%- import 'hedera-article-page:article-utils-fragment.html' as articleUtils with context -%}
{%- import 'hedera-article-page:pager-fragment.html' as articlePager with context -%}

<!-- Use tag masthead, if defined, otherwise fall back to default
     global masthead -->
{%- if apos.attachment.first(data.piece._mastheadImage) -%}
  {%- set imageObjectMasthead = apos.attachment.first(data.piece._mastheadImage) -%}
{%- elseif apos.attachment.first(data.global._defaultTagMastheadImage) -%}
  {%- set imageObjectMasthead = apos.attachment.first(data.global._defaultTagMastheadImage) -%}
{%- endif -%}

{%- block main -%}
<main class="main-page-content">
    {%- render pageLayout.masthead(imageObjectMasthead, data.piece.title) -%}

    <section class="tag-display" aria-label="Article category listings">
        <div class="tag-display__container">
            <div class="tag-display__description-row">
                <div class="tag-display__description-column">
                    {%- if data.piece.body -%}
                        {% area data.piece, 'body' %}
                    {%- endif -%}
                </div>
            </div>

            <div class="tag-display__articles-row">
                <div class="tag-display__articles-column">
                    <div class="tag-display__article-listings">
                        {%- if data.piece._articles and data.piece._articles.length -%}
                        {%- else -%}
                        <p class="tag-display__article-listings-heading">No articles</p>
                        {%- endif -%}

                        {%- render articleUtils.listArticles(data.piece._articles) -%}
                    </div>
                </div>
            </div>
        </div>
    </section>

    {%- render articlePager.pager({page: data.currentPage, total: data.totalPages}, data.url) -%}
</main>
{%- endblock -%}
